@import url(https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Roboto+Slab:wght@300;400;700&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap);
/* colors */
/* breakpoints */
/* mixins */
/* colors */
* {
  padding: 0;
  margin: 0;
  outline: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  scroll-behavior: smooth;
}

body {
  scroll-behavior: smooth;
  background: #F6F3E8;
}

em {
  padding-top: 65px;
  font-style: normal;
}

button {
  cursor: pointer;
}
button:hover {
  transform: scale(1.2);
}

p {
  font-family: "Roboto Slab";
}

h1 {
  font-size: 7rem;
  font-weight: normal;
}

h2 {
  font-size: 1.8rem;
  font-weight: normal;
}

h3 {
  font-size: 1.3rem;
  font-weight: normal;
}

section {
  min-height: 100vh;
}

.container {
  width: 100%;
  display: flex;
  padding: 0 10px;
}
@media screen and (min-width: 992px) {
  .container {
    max-width: 1200px;
  }
}

/* colors */
header {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: center;
  transform: translateX(-50%);
  left: 50%;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  z-index: 100;
  background: rgba(246, 243, 232, 0.8);
  backdrop-filter: blur(3px);
}
header nav {
  display: flex;
  align-items: center;
}
header nav ul {
  list-style: none;
  display: flex;
}
header nav ul li {
  margin: 0 30px;
}
header nav ul li a {
  color: #373A43;
  font: 300 1.5rem "Roboto Slab";
  text-decoration: none;
}
header nav ul li a:hover {
  color: black;
}
header nav ul li.active a {
  font-weight: bold;
}
header nav ul li.active a::after {
  content: "";
  width: 100%;
  height: 2px;
  display: block;
  border-radius: 10px;
  background: currentColor;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* colors */
footer {
  background: #F6F3E8;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  display: flex;
  margin-top: 60px;
  border-top: 1px solid #dddddd;
}
footer .container .flex {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}
footer .container .flex > :nth-child(2) {
  width: 50%;
  text-align: center;
  display: flex;
  align-items: center;
}
footer .container .flex > :nth-child(2)::before, footer .container .flex > :nth-child(2)::after {
  content: "";
  margin: 0 20px;
  display: inline-block;
  border-radius: 5px;
  width: 100%;
  background: #6B686355;
  height: 1px;
}
footer .container .flex nav ul {
  list-style: none;
  text-align: center;
}
footer .container .flex nav ul li {
  margin: 15px 0;
}
footer .container .flex nav ul li a {
  text-decoration: none;
  font: 100 1.75rem "Roboto Slab";
  color: #373A43;
}
footer .container .flex nav ul li a:hover {
  color: black;
}
footer hr {
  margin-top: 15px;
  width: 50%;
  background: #6B686355;
  border-style: none;
  height: 1px;
}
footer small {
  font: 400 1rem "Roboto Slab";
  color: #575450;
  padding: 15px;
  display: flex;
  align-items: center;
}
footer small i {
  margin-left: 10px;
}

/* colors */
section.start {
  width: 100%;
  background: #F6F3E8;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: relative;
}
section.start .container {
  align-items: center;
  justify-content: space-between;
}
section.start .container em h1, section.start .container em h2 {
  color: #575450;
}
section.start .container em h1 {
  font-family: "Abril Fatface";
}
section.start .container em h2 {
  font-family: "Roboto Slab";
  font-size: 1.4rem;
}
section.start .container em hr {
  animation: widthAnimation 0.8s forwards;
  margin-bottom: 10px;
  margin-top: -10px;
  border-color: #575450;
}
section.start .container figure {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
section.start .container figure img {
  display: block;
}
section.start .container figure img.part1 {
  transform: translate(135px, 0px);
}
section.start .container figure img.part2 {
  transform: translate(126px, 0px);
}
section.start .container figure img.part3 {
  transform: translate(0px);
}
section.start .container figure img.part4 {
  transform: translate(-65px, 0px);
}
section.start .btn-arrow-down {
  border: none;
  background: #fafafa;
  display: flex;
  color: #373A43;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  position: absolute;
  bottom: 40px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  animation: downIndicate 0.9s ease-in-out alternate infinite;
}

@keyframes downIndicate {
  from {
    transform: translate3d(0, 10px, 0);
  }
  to {
    transform: translate3d(0, 20px, 0);
  }
}
@keyframes widthAnimation {
  from {
    width: 0;
  }
  to {
    width: 50px;
  }
}
/* colors */
section.presentations {
  background: #F6F3E8;
  display: flex;
  justify-content: center;
  position: relative;
}
section.presentations .logomarca {
  position: absolute;
  right: 30px;
  bottom: 70px;
  z-index: 10;
}
section.presentations .container {
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-start;
  overflow: hidden;
  color: #575450;
  position: relative;
}
section.presentations .container em {
  margin-top: 10px;
  width: 100%;
}
section.presentations .container em h2 {
  font: 1.9rem "Abril Fatface";
  text-align: center;
  margin-bottom: 5px;
}
section.presentations .container em h3 {
  text-align: center;
  font-family: "Roboto Slab";
}
section.presentations .container .slides {
  display: block;
  width: 100%;
  position: relative;
  margin-bottom: 35px;
}
section.presentations .container .slides .slide-item {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
}
section.presentations .container .slides .slide-item .slide-content {
  background: linear-gradient(to right, transparent 0%, transparent 30%, #fafafa 30%, #fafafa);
  display: flex;
  justify-content: space-between;
  padding: 50px 0;
  position: relative;
}
section.presentations .container .slides .slide-item .slide-content .slide-info {
  max-width: 500px;
  margin: 0 30px 0 80px;
}
section.presentations .container .slides .slide-item .slide-content .slide-info h2 {
  font-family: "Abril Fatface";
  text-align: center;
  margin-bottom: 25px;
}
section.presentations .container .slides .slide-item .slide-content .slide-info p {
  line-height: 32px;
  font-size: 1.13rem;
}

/* colors */
section.tickets {
  background: #373A43;
  display: flex;
  justify-content: center;
}
section.tickets .container {
  background: linear-gradient(to right, #ffffff25 0%, #ffffff25 50%, #373A43 50%, #373A43 100%);
  justify-content: center;
  color: #F6F3E8;
  position: relative;
  flex-wrap: wrap;
}
section.tickets .container .mask {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
section.tickets .container .mask .ticket-preview {
  display: flex;
  flex-direction: column;
}
section.tickets .container .mask .ticket-preview svg {
  pointer-events: none;
}
section.tickets .container .mask .ticket-preview .ticket.active {
  transform: rotate(5deg);
}
section.tickets .container .mask .ticket-preview .ticket:not(.active) {
  cursor: pointer;
  transition: all 200ms;
}
section.tickets .container .mask .ticket-preview .ticket:not(.active).green:hover, section.tickets .container .mask .ticket-preview .ticket:not(.active).red:hover, section.tickets .container .mask .ticket-preview .ticket:not(.active).classic:hover {
  transform: rotate(2deg);
}
section.tickets .container em {
  z-index: 1;
  margin-top: 5px;
}
section.tickets .container em h2 {
  font: 1.9rem "Abril Fatface";
  text-align: center;
  margin-bottom: 5px;
}
section.tickets .container em h3 {
  font-family: "Roboto Slab";
}
section.tickets .container .block-information {
  overflow: hidden;
  width: 315px;
}
section.tickets .container .block-information img {
  cursor: pointer;
  z-index: 0;
  position: absolute;
}

section.about {
  background: #F6F3E8;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
section.about .container {
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  color: #575450;
  overflow: hidden;
}
section.about .container em {
  margin-top: 80px;
}
section.about .container em h2 {
  font: 1.9rem "Abril Fatface";
  text-align: center;
  margin-bottom: 5px;
}
section.about .container em h3 {
  font-family: "Roboto Slab";
}
section.about .container svg {
  pointer-events: none;
}
section.about .container .slides {
  display: block;
  width: 100%;
  position: relative;
  height: 720px;
}
section.about .container .slides .slide-item {
  margin-top: 50px;
  position: absolute;
  left: 0;
  width: 100%;
}
section.about .container .slides .slide-item.two {
  transform: translateX(10%);
  opacity: 0;
}
section.about .container .slides .slide-item.two .infos img {
  margin-top: 0;
}
section.about .container .slides .slide-item h2 {
  font: normal 5rem "Abril Fatface", serif;
  text-align: center;
}
section.about .container .slides .slide-item .title-logo {
  font-family: "Bungee Shade", sans-serif;
}
section.about .container .slides .slide-item .infos {
  display: flex;
  margin-top: 40px;
}
section.about .container .slides .slide-item .infos p {
  margin-bottom: 20px;
  line-height: 32px;
}
section.about .container .slides .slide-item .infos img {
  margin-top: 80px;
  margin-right: 50px;
}
section.about .controls {
  z-index: 10;
  cursor: pointer;
}
section.about .controls a {
  pointer-events: none;
}

/* parts */
/* sections */
