@import "./variables";
@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap');

section.about {
  background: $themeWhite;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  .container {
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    color: $themeBrown;
    overflow: hidden;
    em {
      margin-top: 80px;
      h2 {
        font: 1.9rem "Abril Fatface";
        text-align: center;
        margin-bottom: 5px;
      }
      h3 {
        font-family: "Roboto Slab";
      }
    }
    svg {
      pointer-events: none;
    }
    .slides {
      display: block;
      width: 100%;
      position: relative;
      height: 720px;
      .slide-item {
        margin-top: 50px;
        position: absolute;
        left: 0;
        width:100%;
        &.two {
          transform: translateX(10%);
          opacity: 0;
          .infos img {
            margin-top: 0;
          }
        }
        h2 {
          font: normal 5rem "Abril Fatface", serif;
          text-align: center;
        }
        .title-logo {
          font-family: 'Bungee Shade', sans-serif;
        }
        .infos {
          display: flex;
          margin-top: 40px;
          p {
            margin-bottom: 20px;
            line-height: 32px;
          }
          img {
            margin-top: 80px;
            margin-right: 50px;
          }
        }
      }
    }
  }
  .controls {
    z-index: 10;
    cursor: pointer;
    a {
      pointer-events: none;
    }
  }
}