@import "./variables";
section.about {
  background: $themeWhite;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  .container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $themeBrown;
    em {
      margin-top: 80px;
      h2 {
        font: 1.9rem "Abril Fatface";
        text-align: center;
        margin-bottom: 5px;
      }
      h3 {
        font-family: "Roboto Slab";
      }
    }
    .slides {
      margin-top: 50px;
      h2 {
        font: normal 5rem "Abril Fatface";
        text-align: center;
      }
      .infos {
        display: flex;
        margin-top: 40px;
        p {
          margin-bottom: 20px;
          line-height: 32px;
        }
        img {
          margin-top: 80px;
          margin-right: 50px;
        }
      }
    }
  }
}