/* breakpoints */
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

/* mixins */
@mixin desktop {
  @media screen and (min-width: $lg) {
    @content;
  }
}
@mixin mobile {
  @media screen and (max-width: $lg) {
    @content;
  }
}

