@import "./variables";
section.presentations {
  background: $themeWhite;
  display: flex;
  justify-content: center;
  position: relative;
  .logomarca {
    position: absolute;
    right: 30px;
    bottom: 70px;
    z-index: 10;
  }
  .container {
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    overflow: hidden;
    color: $themeBrown;
    position: relative;
    em {
      margin-top: 80px;
      width: 100%;
      h2 {
        font: 1.9rem "Abril Fatface";
        text-align: center;
        margin-bottom: 5px;
      }
      h3 {
        text-align: center;
        font-family: "Roboto Slab";
      }
    }
    .slides {
      display: block;
      width: 100%;
      position: relative;
      margin-bottom: 35px;
      .slide-item {
        position: absolute;
        left: 0;
        top: 50%;
        width: 100%;
        .slide-content{
          background: linear-gradient(
            to right,
            transparent 0%,
            transparent 30%,
            #fafafa 30%,
            #fafafa
          );
          display: flex;
          justify-content: space-between;
          padding: 50px 0;
          position: relative;
          .slide-info {
            max-width: 500px;
            margin: 0 30px 0 80px;
            h2 {
              font-family: "Abril Fatface";
              text-align: center;
              margin-bottom: 25px;
            }
            p {
              line-height: 32px;
              font-size: 1.13rem;
            }
          }
        }
      }
    }
  }
}
