@import "./variables";
section.start {
  width: 100%;
  background: $themeWhite;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: relative;
  .container {
    align-items: center;
    justify-content: space-between;
    em {
      h1, h2  {
        color: $themeBrown;
      }
      h1 {
        font-family: "Abril Fatface";
      }
      h2 {
        font-family: "Roboto Slab";
        font-size: 1.4rem;
      }
      hr {
        animation: widthAnimation 0.8s forwards;
        margin-bottom: 10px;
        margin-top: -10px;
        border-color: $themeBrown;
      }
    }
    figure {
      display: flex;
      justify-content: flex-end;
      width: 100%;
      img {
        display: block;
        &.part1 {
          transform: translate(135px, 0px);
        }
        &.part2 {
          transform: translate(126px, 0px);
        }
        &.part3 {
          transform: translate(0px);
        }
        &.part4 {
          transform: translate(-65px, 0px);
        }
      }
    }
  }
  .btn-arrow-down {
    border: none;
    background: #fafafa;
    display: flex;
    color: $themeBlue;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    position: absolute;
    bottom: 40px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    animation: downIndicate 0.9s ease-in-out alternate infinite;
  }
}
@keyframes downIndicate {
  from {
    transform: translate3d(0, 10px, 0);
  }
  to {
    transform: translate3d(0, 20px, 0);
  }
}
@keyframes widthAnimation {
  from {
    width: 0;
  }
  to {
    width: 50px;
  }
}