@import "./variables";
section.tickets {
  background: $themeBlue;
  display: flex;
  justify-content: center;
  .container {
    background: linear-gradient(to right, #ffffff25 0%, #ffffff25 50%, $themeBlue 50%, $themeBlue 100%);
    justify-content: center;
    color: $themeWhite;
    position: relative;
    flex-wrap: wrap;
    .mask {
      display: flex;
      justify-content: space-around;
      width: 100%;
      .ticket-preview {
        display: flex;
        flex-direction: column;
        svg {
          pointer-events: none;
        }
        .ticket.active {
          transform: rotate(5deg);
        }
        .ticket:not(.active) {
          cursor: pointer;
          transition: all 200ms;
          &.green, &.red, &.classic{
            &:hover {
              transform: rotate(2deg);
            }
          }
        }
      }
    }
    em {
      z-index: 1;
      margin-top: 5px;
      h2 {
        font: 1.9rem "Abril Fatface";
        text-align: center;
        margin-bottom: 5px;
      }
      h3 {
        font-family: "Roboto Slab";
      }
    }
    .block-information{
      overflow: hidden;
      width: 315px;
      img {
        cursor: pointer;
        z-index: 0;
        position: absolute;
      }
    }
  }
}
